<section id="categories">
  <div class="container pad-2">
    <app-message></app-message>
    <div *ngIf="!categories" class="m-auto">
      <h1 class="text-center display-3 mt-5">
        <i class="fa fa-spinner fa-spin"></i>
      </h1>
    </div>
    <div *ngIf="categories" class="list-group">
	  <div class="img-wrapper"  *ngFor="let category of categories" routerLink="/categories/{{ category._id }}">
		  <img src="../../assets/img/matthew-brodeur-qcCPIhhdgTw-unsplash.jpg" alt="">
		  <span class="img-title">{{category.name}}</span>
	  </div>
    </div>
    <hr />
    <div *ngIf="data.user && data.user.isSeller" class="card bg-light mt-5 white">
      <div class="card-body">
        <h4 class="card-title">Add New Category</h4>
        <hr />
        <div class="form">
          <div class="form-group">
            <label>Category</label>
            <input
              type="text"
              name="newCategory"
              class="form-control"
              [(ngModel)]="newCategory"
            />
          </div>
          <button
            type="button"
            class="btn btn-info"
            (click)="addCategory()"
            [disabled]="btnDisabled"
          >
            Add Category
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
